    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #f7ebda;
        color: #fff;
        text-align: center;
        padding: 1em;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: #5c5040;
        padding: 0.5em;
        border-radius: 10px;
    }

    nav div {
        position: relative;
        padding: 10px;
        
    }

    nav .opcoes-alugar {
        display: none;
        position: absolute;
        background-color: #ffd69d;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 11em;
        border-radius: 10px;
    }

    nav div:hover .opcoes-alugar {
        display: block;
    }

    main {
        display: flex;
        flex-direction: row;
        height: 1600px;
    }

    #conteudo {
        flex: 2;
        padding-right: 1em;
    }

    #barra-lateral {
        flex: 1;
        background-color: #f4f4f4;
        padding: 1em;
    }

    footer {
        background-color: #5c5040;
        color: #fff;
        text-align: center;
        padding: 1em;
    }

    #botao-entrar {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 0.5em 1em;
        background-color: #ffbd61;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #tudo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2em;
        height:30em;
        background-color: #a28d71;
    }

    
    #conteudo-esquerda,
    #conteudo-direita {
        
        padding: 1em;
        height: 27em;
        background-color: #D2B48C; 
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 3px 30px #5c5040 ;
    }
    #conteudo-esquerda {
        margin-right: 20px; 
    }

    #conteudo-direita {
        margin-left: 20px;
    }

    #spanNav{
        font-size: 20px;
    }
    #saiba-botao {
        background-color: #ffbd61; 
        color: white; 
        border-radius: 20px; 
        padding: 10px 20px; 
        font-size: 16px; 
        border: none;
        box-shadow: 2px 2px 10px #846e52;
    }